<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../common/css/box.css"/>
    <link rel="stylesheet" type="text/css" href="../common/css/color.css"/>
    <link rel="stylesheet" type="text/css" href="../common/co/css/co.css" />
    <link rel="stylesheet" type="text/css" href="../common/css/media.css"/>
    <link rel="stylesheet" type="text/css" href="css/new_file.css"/>
</head>
<body class="c-wh">
	<div class="box box-ov mar-a">
		<div class="font1 padd-a newsTitle-js"></div>
		<div class="t-gra padd-l padd-b newsData-js"></div>
		<div class="padd-a nowContent-js">
		</div>
		<div id="comment-js"  class="box box-ov mar-t">
		    
<!--		    <div class="mar-a box padd-a">
				<div id="'+infoObj._id+'" class="photo bg-img1 mar-r br-50" '+(infoObj.user.headimg==""||infoObj.user.headimg==null? "" : " style=\"background-image:url("+infoObj.user.headimg+")\" " )+'></div>
				<div class="box box-f1 box-ov mar-l">
						<div class="padd-b">李白</div>
						<div class="t-gra font-1">床前明月光，疑似地上霜，举头望明月，低头思故乡</div>
				</div>
			</div>-->
		    
		</div>
	</div>
</body>
<script src="../common/co/native.js"></script>
<script src="../common/co/dom.js"></script>
<script src="../common/co/co.js"></script>
<script src="../common/js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/custom.js"></script>
<script>
    var _news;
    var newsId;
    var _comment;
    var view = app.currentView();
    domReady(function(require){
    	app.disableSlideBack();
    	newsId = app.storage.get("newsId"); //rd.storage.getItem("newsId");
//  	alert(newsId);
    	getHeader();
	    _news  = _dt.DB.Tab("news_content");
	    _comment= new _dt.DB.Tab("comment");
   		getNewsInfoData();//获取新闻信息
		getCommentLists();//获取评论信息
	})
	
	
	//获取新闻详细信息
	function getNewsInfoData(){
		 _news.getData(newsId,function(err){
        },function(data){
        	if(data){
//      		alert(data);
	            var infoData = data;
				var dateTime = getTimes(infoData._edtm,true,4);
				$('.newsTitle-js').html(infoData.title);
				$('.newsData-js').html(dateTime);
				$('.nowContent-js').html(infoData.body);
				app.storage.set('newsImgPath', infoData.img);//新闻首页图片地址
				app.storage.set('newsTitle', infoData.title);//新闻首页图片地址
			}
        });
	}
	
	//得到评论的信息列表
	function getCommentLists(){
		var _option = {
            page:1,
            size:1000,
            include:{"user":"name,nname,headimg"},
            where:{
            	objid:newsId,
            	
          	},
          	order:[["_edtm",-1]]
        };
        _comment.getListData(_option,function(err){
			app.alert("网络请求超时,请检查网络");
        },function(data){
        	if(data.data.length>0){
            	var htmls = '<div class="b-307L padd-l font-wei">精彩评论</div><div class="box box-ov">';
            	htmls += '';
//          	app.alert(1);
//				console.log( data.data);
//				rd.console.log(data.data);
        		for(var i in data.data){
//      			app.alert(data.data);
					
	            	var infoObj = data.data[i];
//	            	app.alert(infoObj);
	            	htmls += '<div class="mar-a box padd-a">';
					htmls += '<div id="'+infoObj._id+'" class="photo bg-img1 mar-r br-50" '+(infoObj.user.headimg==""||infoObj.user.headimg==null? "" : " style=\"background-image:url("+infoObj.user.headimg+")\" " )+'></div>';
					htmls += '<div class="box box-f1 box-ov mar-l">';
					htmls += '<div class="padd-b">'+infoObj.user.nname+'</div>';
					htmls += '<div class="t-gra font-1">'+infoObj.body+'</div>';
					htmls += '</div>';
					htmls += '</div>';
	            }
				$("#comment-js").html(htmls);
            }else{
            	if($("#comment-js").html().indexOf("还没有评论")>0){
            		return;
            	}
            	$("#comment-js").append('<div class="b-307L padd-l font-wei">精彩评论</div><div class="box box-ov"><div class="box box-ac box-pc padd-a mar-a">还没有评论，快来评论吧！</div>');
            }
            $("#comment-js").append('</div>');
            $hideProgress();
        });
	}
</script>
</html>
